<!--网站头部导航 PC端-->
<header class="leapCloud-header">
    <div class="header-content-pc">
        <a class="leapCloud-header-logo" href="/"><img src="../../website/common/images/header/icon_2x/header_logo_white_new@2x.png" srcset="../../website/common/images/header/icon_2x/header_logo_white_new@2x.png" alt="活科云"></a>
        <ul class="navbar-left">
            <li class="navli active"><a href="/">首页</a></li>
            <li class="navli" id="solution-menu">
                <a href="/freshSolutionEcomLanding">行业解决方案</a>
            </li>
            <li class="navli  product-menu">
                <a href="/leapcloud">产品</a>
            </li>
            <li class="navli case-nav "><a href="/case">案例</a></li>
            <li class="navli "><a href="/news">新闻中心</a></li>
            <li class="navli "><a href="/helpcenter">文档</a></li>
            <li class="navli "><a href="/aboutus">关于</a></li>
        </ul>
        <ul class="navbar-right">
            <li class="navli" id="login">
                <a href="/website/manageLogin">登录</a>
            </li>
            <li class="navli navli-divider">
                <a class="divider"></a>
            </li>
            <li class="navli noMarginRight>"><a href="/console/v2/signup#/">免费试用</a></li>
        </ul>
    </div>
</header>

<!--网站头部导航 Mobile端-->
<header class="leapCloud-header-mobile">
    <a class="leapCloud-header-logo-mobile" href="/"><img src="../../website/common/images/header/logo_white_yd_new.png" alt="活科云"></a>
    <a href="javascript:void(0)" id="mobile-nav-control" class="hide">
        <span class="clearmid"></span>
        <i></i>
    </a>
    <div id="mobile-navbar" style="display: none">
        <ul id="navbar" class="mobile-navbar__list">
            <li class="navli active"><a href="/index">首页</a></li>
            <li class="navli product-menu-mobile">
                <a href="/leapcloud">产品</a>
            </li>
            <li class="navli solution-mobile">
                <a class="menu-click" <a href="/freshSolutionEcomLanding"></a>>
                <span>行业解决方案</span>
                </a>
            </li>
            <li class="navli"><a href="/case">案例</a></li>
            <li class="navli"><a href="/news">新闻中心</a></li>
            <li class="navli"><a href="/helpcenter">文档</a></li>
            <li class="navli"><a href="/aboutus">关于</a></li>
        </ul>
        <ul id="mobile-login-buttons">
            <li><a href="/manageLogin">登录</a></li>
            <li><a href="/console/v2/signup#/">免费试用</a></li>
        </ul>
    </div>
</header>