<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="https://www.leapcloud.cn/news/wp-content/themes/miwan/img/favicon.ico">
    <link rel="stylesheet" href="./website/stylesheets/news/custom-style.css">
    <title>新闻中心—商领云，移动电商云平台</title>
    <script>
        window._deel = {
            name: '商领云',
            url: 'https://www.leapcloud.cn/news/wp-content/themes/miwan',
            ajaxpager: '',
            commenton: 0,
            roll: [0, 0]
        }
    </script>
    <!-- All in One SEO Pack 2.3.9.1 by Michael Torbert of Semper Fi Web Designob_start_detected [-1,-1] -->
    <meta name="description" itemprop="description" content="商领云,移动电商云平台,帮助企业快速搭建社交电商、社区团购、社交分销、服务预订、移动订货等移动电商APP平台，为企业提供最新电商技术和新闻动态信息。" />
    <meta name="keywords" itemprop="keywords" content="商领云,新闻中心,APP软件制作,APP开发制作,电商软件开发,手机APP商城,移动电商系统" />
    <link rel='next' href='https://www.leapcloud.cn/news/?paged=2' />
    <link rel="canonical" href="https://www.leapcloud.cn/news/" />
    <!-- /all in one seo pack -->
    <link rel='dns-prefetch' href='//libs.baidu.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <script type="text/javascript">
        // window._wpemojiSettings = {
        //     "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/",
        //     "ext": ".png",
        //     "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/",
        //     "svgExt": ".svg",
        //     "source": {
        //         "concatemoji": "https:\/\/www.leapcloud.cn\/news\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.5"
        //     }
        // };
        ! function(a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case "flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356,
                            57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128,
                            56447
                        ], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203,
                            56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447
                        ]), !b);
                    case "emoji":
                        return b = d([55357, 56692, 8205, 9792, 65039], [55357, 56692, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var g, h, i, j, k = b.createElement("canvas"),
                l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c
                .supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c
                    .supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c
                .readyCallback = function() {
                    c.DOMReady = !0
                }, c.supports.everything || (h = function() {
                    c.readyCallback()
                }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !
                    1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function() {
                    "complete" === b.readyState && c.readyCallback()
                })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g
                    .wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='cd-portfolio-css-css' href='./website/stylesheets/news/codenovo-portfolio-frontend-css.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-hoverdirection-css-css' href='./website/stylesheets/news/jquery-hoverdirection.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='./website/stylesheets/news/style.css' type='text/css' media='all' />
    <!-- <script type='text/javascript' src='//libs.baidu.com/jquery/1.8.3/jquery.min.js?ver=1.0'></script>
    <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-content/plugins/codenovo-portfolio/js/jquery-easing.js?ver=1.3'>
    </script>
    <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-content/plugins/codenovo-portfolio/js/jquery.quicksand.js?ver=1.4'>
    </script>
    <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-content/plugins/codenovo-portfolio/js/magnific.popup.js?ver=0.9.9'>
    </script>
    <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-content/plugins/codenovo-portfolio/js/cycle.js?ver=3.0.3'></script>
    <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-content/plugins/codenovo-portfolio/js/jquery-hoverdirection.js?ver=0.0.1'>
    </script>
    <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-content/plugins/codenovo-portfolio/js/cn_pf_custom_js.js?ver=0.0.1'>
    </script>
    <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-content/themes/miwan/js/jquery.js?ver=1.0'>
    </script>
    <link rel='https://api.w.org/' href='https://www.leapcloud.cn/news/index.php?rest_route=/' /> -->
    <meta name="description" content="">
    <!--[if lt IE 9]><script src="https://www.leapcloud.cn/news/wp-content/themes/miwan/js/html5.js"></script><![endif]-->
    <style>
        .widgetRoller {
            top: 10px;
        }
    </style>
</head>

<body class="home blog">
    <header id="header" class="header">
        <div class="container-inner">
            <div class="yusi-logo">
                <a href="/">
                    <h1> <span class="yusi-mono">商领云</span> <span class="yusi-bloger"></span> </h1>
                </a>
            </div>
        </div>
        <div id="nav-header" class="navbar">
            <ul class="nav">
                <li class="page_item page-item-2"><a href="https://www.leapcloud.cn/news/?page_id=2">Sample Page</a>
                </li>
                <li class="page_item page-item-180"><a href="https://www.leapcloud.cn/news/?page_id=180">案例展示</a>
                </li>
                <li style="float:right;">
                    <div class="toggle-search"><i class="fa fa-search"></i></div>
                    <div class="search-expand" style="display: none;">
                        <div class="search-expand-inner">
                            <form method="get" class="searchform themeform" onSubmit="location.href='https://www.leapcloud.cn/news/search/' + encodeURIComponent(this.s.value).replace(/%20/g, '+'); return false;" action="/">
                                <div> <input type="ext" class="search" name="s" onBlur="if(this.value=='')this.value='搜索如此便捷';" onFocus="if(this.value=='搜索如此便捷')this.value='';" value="搜索如此便捷"></div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </header>
    <!--商领云 header 定制-->
    <div class="news-bgColor">
        <p class="news-title">新闻中心</p>
        <%- include("components/header") %>
    </div>

    <section class="container">
        <div class="speedbar">
            <div class="toptip"><strong class="text-success"><i class="fa fa-volume-up"></i> </strong> </div>
        </div>
        <div class="content-wrap">
            <div class="content">
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7351"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2021%2F04%2F%E6%9C%AA%E5%91%BD%E5%90%8D%E7%9A%84%E8%AE%BE%E8%AE%A1.png&h=123&w=200&q=90&zc=1&ct=1"
                                alt="新零售商学经 &#8211; 新店开张，如何快速把生意做起来？" /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=355">运营干货<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7351" title="新零售商学经 &#8211; 新店开张，如何快速把生意做起来？">新零售商学经 &#8211; 新店开张，如何快速把生意做起来？ </a></h2>
                    </header> <span class="note"> 商领云新零售收银系统，让新店开张，快速获取流量、打通用户留存关卡！[&#8230;&#8230;]前往阅读转载请注明：商领云
							&raquo; 新零售商学经 ...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 4个月前 (04-08)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 222℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7348"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2021%2F04%2F%E6%9C%AA%E5%91%BD%E5%90%8D%E7%9A%84%E8%AE%BE%E8%AE%A1-15.png&h=123&w=200&q=90&zc=1&ct=1"
                                alt="传统收银 VS 新零售收银，孰优孰劣？" /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=9">移动营销<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7348" title="传统收银 VS 新零售收银，孰优孰劣？">传统收银 VS 新零售收银，孰优孰劣？ </a></h2>
                    </header> <span class="note"> 实体店经营，收银系统选哪一种更合适？[&#8230;&#8230;]前往阅读转载请注明：商领云 &raquo; 传统收银 VS
							新零售收银，孰优孰劣？...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 4个月前 (04-06)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 226℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7344"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2021%2F03%2F%E6%9C%AA%E5%91%BD%E5%90%8D%E7%9A%84%E8%AE%BE%E8%AE%A1-13-1.png&h=123&w=200&q=90&zc=1&ct=1"
                                alt="传统零售已死！商领云新零售收银震撼来袭！" /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=242">商领云平台<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7344" title="传统零售已死！商领云新零售收银震撼来袭！">传统零售已死！商领云新零售收银震撼来袭！ </a></h2>
                    </header> <span class="note"> 分析传统零售弊端，运用新零售如何拯救已经跌落的线下市场？[&#8230;&#8230;]前往阅读转载请注明：商领云 &raquo;
							传统零售已死！商领云新零...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 4个月前 (03-29)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 253℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7332"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2021%2F03%2F%E6%9C%AA%E5%91%BD%E5%90%8D%E7%9A%84%E8%AE%BE%E8%AE%A1-13.png&h=123&w=200&q=90&zc=1&ct=1"
                                alt="商领云V5.1新发布 商铺管理更便捷" /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=242">商领云平台<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7332" title="商领云V5.1新发布 商铺管理更便捷">商领云V5.1新发布 商铺管理更便捷 </a></h2>
                    </header> <span class="note"> App开发云平台商领云再次更新咯～～
							本期更新的商铺管理，让小白也能轻松上手！[&#8230;&#8230;]前往阅读转载请注明：商领云 &raquo; 商...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 5个月前 (03-19)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 259℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7309"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2020%2F11%2F%E5%B0%81%E9%9D%A2.png&h=123&w=200&q=90&zc=1&ct=1" alt="商领云V5.0新发布，抖音小店助手火爆上线！"
                            /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=1">商领云App<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7309" title="商领云V5.0新发布，抖音小店助手火爆上线！">商领云V5.0新发布，抖音小店助手火爆上线！ </a></h2>
                    </header> <span class="note"> 短视频流量红利，想要GET?
							让APP开发云平台商领云为您一站式提供解决方案吧～[&#8230;&#8230;]前往阅读转载请注明：商领云 &raquo; ...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 9个月前 (11-13)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 714℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7275"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2020%2F11%2F11%E5%AE%A0%E7%B2%89%E5%AD%A3-e1604642223726.png&h=123&w=200&q=90&zc=1&ct=1" alt="双11首轮预售3亿人爆肝剁手！做直播带货不香吗？"
                            /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=200">精彩活动<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7275" title="双11首轮预售3亿人爆肝剁手！做直播带货不香吗？">双11首轮预售3亿人爆肝剁手！做直播带货不香吗？ </a></h2>
                    </header> <span class="note"> 想要赶一波直播热吗？赶紧关注我们，双11期间赠送直播带货功能咯！[&#8230;&#8230;]前往阅读转载请注明：商领云
							&raquo; 双11首轮预售3...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 9个月前 (11-06)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 514℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7248"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2020%2F11%2F%E8%87%AA%E5%AE%9A%E4%B9%89%E6%A8%A1%E6%9D%BF-2.jpg&h=123&w=200&q=90&zc=1&ct=1"
                                alt="商领云V4.9新发布，运营管理更精细！" /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=11">产品日志<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7248" title="商领云V4.9新发布，运营管理更精细！">商领云V4.9新发布，运营管理更精细！ </a></h2>
                    </header> <span class="note">
							商领云V4.9上线咯！App运营，还是得从精细化入手！店铺管理、货到付款、收银机、商品标签等你来更新！[&#8230;&#8230;]前往阅读转载请注明：商...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 9个月前 (11-02)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 527℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7240"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2020%2F09%2F%E6%B7%BB%E5%8A%A0%E6%A0%87%E9%A2%98.png&h=123&w=200&q=90&zc=1&ct=1" alt="生鲜新零售爆火的背后，究竟革新了什么？"
                            /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=355">运营干货<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7240" title="生鲜新零售爆火的背后，究竟革新了什么？">生鲜新零售爆火的背后，究竟革新了什么？ </a></h2>
                    </header> <span class="note"> 生鲜新零售的本质，App开发云平台商领云，为你步步揭晓！[&#8230;&#8230;]前往阅读转载请注明：商领云 &raquo;
							生鲜新零售爆火的背后，究...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 10个月前 (09-28)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 726℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7204"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2020%2F09%2F%E8%87%AA%E5%AE%9A%E4%B9%89%E6%A8%A1%E6%9D%BF-2.jpg&h=123&w=200&q=90&zc=1&ct=1"
                                alt="App用户都睡着了？是时候用推送和活动唤醒一波了！" /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=355">运营干货<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7204" title="App用户都睡着了？是时候用推送和活动唤醒一波了！">App用户都睡着了？是时候用推送和活动唤醒一波了！ </a></h2>
                    </header> <span class="note"> 叫醒装睡的用户，的确是门技术！App用户如何促活？新手运营快来看！[&#8230;&#8230;]前往阅读转载请注明：商领云
							&raquo; App用户都睡...</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 11个月前 (09-23)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 794℃</span> </p>
                </article>
                <article class="excerpt">
                    <div class="focus">
                        <a target="_blank" href="https://www.leapcloud.cn/news/?p=7209"><img class="thumb" src="https://www.leapcloud.cn/news/wp-content/themes/miwan/timthumb.php?src=https%3A%2F%2Faliwpcontent.leapcloud.cn%2F2020%2F09%2F%E8%87%AA%E5%AE%9A%E4%B9%89%E6%A8%A1%E6%9D%BF-3.jpg&h=123&w=200&q=90&zc=1&ct=1"
                                alt="商领云V4.8新发布，跑腿服务重磅上线，赋能个性化配送！" /></a>
                    </div>
                    <header><a class="label label-important" href="https://www.leapcloud.cn/news/?cat=11">产品日志<i
									class="label-arrow"></i></a>
                        <h2><a target="_blank" href="https://www.leapcloud.cn/news/?p=7209" title="商领云V4.8新发布，跑腿服务重磅上线，赋能个性化配送！">商领云V4.8新发布，跑腿服务重磅上线，赋能个性化配送！ </a></h2>
                    </header> <span class="note"> 叮咚～您要的跑腿服务上线啦～～高性价比的跑腿App开发，就找商领云！[&#8230;&#8230;]前往阅读转载请注明：商领云
							&raquo; 商领云V4....</span>
                    <p class="auth-span"> <span class="muted"><i class="fa fa-clock-o"></i> 11个月前 (09-18)</span>
                        <span class="muted"><i class="fa fa-eye"></i> 666℃</span> </p>
                </article>
                <div class="pagination">
                    <ul>
                        <li class="prev-page"></li>
                        <li class="active"><span>1</span></li>
                        <li><a href='https://www.leapcloud.cn/news/?paged=2'>2</a></li>
                        <li><a href='https://www.leapcloud.cn/news/?paged=3'>3</a></li>
                        <li><a href='https://www.leapcloud.cn/news/?paged=4'>4</a></li>
                        <li><a href='https://www.leapcloud.cn/news/?paged=5'>5</a></li>
                        <li><span> ... </span></li>
                        <li class="next-page"><a href="https://www.leapcloud.cn/news/?paged=2">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <div class="widget widget_text">
                <div class="textwidget">
                    <div class="social"><a href="https://weibo.com/maxwon" rel="external nofollow" title="新浪微博" target="_blank"><i class="sinaweibo fa fa-weibo"></i></a><a class="weixin"><i
									class="weixins fa fa-weixin"></i>
								<div class="weixin-popover">
									<div class="popover bottom in">
										<div class="arrow"></div>
										<div class="popover-title">订阅号“商领云”</div>
										<div class="popover-content"><img
												src="https://www.leapcloud.cn/news/wp-content/themes/miwan/img/weixin.gif">
										</div>
									</div>
								</div>
							</a><a href="mailto:marketing@leapcloud.cn" rel="external nofollow" title="Email" target="_blank"><i class="email fa fa-envelope-o"></i></a><a href="/news/?feed=rss2" rel="external nofollow" target="_blank" title="订阅本站"><i class="rss fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
            <div class="widget widget_recent_entries">
                <div class="title">
                    <h2>近期文章</h2>
                </div>
                <ul>
                    <li> <a href="https://www.leapcloud.cn/news/?p=7351">新零售商学经 &#8211; 新店开张，如何快速把生意做起来？</a> </li>
                    <li> <a href="https://www.leapcloud.cn/news/?p=7348">传统收银 VS 新零售收银，孰优孰劣？</a> </li>
                    <li> <a href="https://www.leapcloud.cn/news/?p=7344">传统零售已死！商领云新零售收银震撼来袭！</a> </li>
                    <li> <a href="https://www.leapcloud.cn/news/?p=7332">商领云V5.1新发布 商铺管理更便捷</a> </li>
                    <li> <a href="https://www.leapcloud.cn/news/?p=7309">商领云V5.0新发布，抖音小店助手火爆上线！</a> </li>
                </ul>
            </div>
            <div class="widget widget_categories">
                <div class="title">
                    <h2>分类目录</h2>
                </div>
                <ul>
                    <li class="cat-item cat-item-242"><a href="https://www.leapcloud.cn/news/?cat=242">商领云平台</a>
                    </li>
                    <li class="cat-item cat-item-355"><a href="https://www.leapcloud.cn/news/?cat=355">运营干货</a></li>
                    <li class="cat-item cat-item-358"><a href="https://www.leapcloud.cn/news/?cat=358" title="电商软件">电商软件</a></li>
                    <li class="cat-item cat-item-401"><a href="https://www.leapcloud.cn/news/?cat=401">功能大讲堂</a>
                    </li>
                    <li class="cat-item cat-item-1"><a href="https://www.leapcloud.cn/news/?cat=1">商领云App</a></li>
                    <li class="cat-item cat-item-9"><a href="https://www.leapcloud.cn/news/?cat=9">移动营销</a></li>
                    <li class="cat-item cat-item-10"><a href="https://www.leapcloud.cn/news/?cat=10" title="电商APP制作">移动电商</a></li>
                    <li class="cat-item cat-item-28"><a href="https://www.leapcloud.cn/news/?cat=28">活动预告</a></li>
                    <li class="cat-item cat-item-110"><a href="https://www.leapcloud.cn/news/?cat=110">媒体报道</a></li>
                    <li class="cat-item cat-item-11"><a href="https://www.leapcloud.cn/news/?cat=11">产品日志</a></li>
                    <li class="cat-item cat-item-14"><a href="https://www.leapcloud.cn/news/?cat=14">营销干货</a></li>
                    <li class="cat-item cat-item-15"><a href="https://www.leapcloud.cn/news/?cat=15">App定制</a></li>
                    <li class="cat-item cat-item-16"><a href="https://www.leapcloud.cn/news/?cat=16">手机商城</a></li>
                    <li class="cat-item cat-item-155"><a href="https://www.leapcloud.cn/news/?cat=155">活动日志</a></li>
                    <li class="cat-item cat-item-2"><a href="https://www.leapcloud.cn/news/?cat=2" title="做一个APP">APP开发</a></li>
                    <li class="cat-item cat-item-17"><a href="https://www.leapcloud.cn/news/?cat=17">手机APP</a></li>
                    <li class="cat-item cat-item-21"><a href="https://www.leapcloud.cn/news/?cat=21">移动App</a></li>
                    <li class="cat-item cat-item-3"><a href="https://www.leapcloud.cn/news/?cat=3">APP制作</a></li>
                    <li class="cat-item cat-item-18"><a href="https://www.leapcloud.cn/news/?cat=18" title="电商解决方案">电商解决方案</a></li>
                    <li class="cat-item cat-item-24"><a href="https://www.leapcloud.cn/news/?cat=24" title="苹果iOS开发">苹果app开发</a></li>
                    <li class="cat-item cat-item-23"><a href="https://www.leapcloud.cn/news/?cat=23">App商城</a></li>
                    <li class="cat-item cat-item-25"><a href="https://www.leapcloud.cn/news/?cat=25" title="安卓app开发">安卓app开发</a></li>
                    <li class="cat-item cat-item-164"><a href="https://www.leapcloud.cn/news/?cat=164">运营通知</a></li>
                    <li class="cat-item cat-item-26"><a href="https://www.leapcloud.cn/news/?cat=26" title="APP开发要多少钱">App报价</a></li>
                    <li class="cat-item cat-item-200"><a href="https://www.leapcloud.cn/news/?cat=200">精彩活动</a></li>
                    <li class="cat-item cat-item-19"><a href="https://www.leapcloud.cn/news/?cat=19" title="三级分销">三级分销</a></li>
                    <li class="cat-item cat-item-207"><a href="https://www.leapcloud.cn/news/?cat=207">直播APP</a>
                    </li>
                    <li class="cat-item cat-item-205"><a href="https://www.leapcloud.cn/news/?cat=205">微信小程序</a>
                    </li>
                    <li class="cat-item cat-item-203"><a href="https://www.leapcloud.cn/news/?cat=203">关于产品</a></li>
                </ul>
            </div>
        </aside>
    </section>
    <footer class="footer">
        <div class="footer-make">
            <div class="footer-inner">
                <ul>
                    <li class="page_item page-item-2"><a href="https://www.leapcloud.cn/news/?page_id=2">Sample
								Page</a></li>
                    <li class="page_item page-item-180"><a href="https://www.leapcloud.cn/news/?page_id=180">案例展示</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-inner">
            <div class="copyright"> <a href="https://www.leapcloud.cn/news/?page_id=2">Sample Page</a><a href="https://www.leapcloud.cn/news/?page_id=180">案例展示</a> </br> <a href="http://www.mywpku.com" target="_blank">Powered by WordPress</a></div>
        </div>
    </footer>
    <div id="footer">
        <div class="mainStyle footer-content">
            <ul class="footer-logo">
                <li><img src="https://static.leapcloud.cn/web/website/common/images/footer/icon_1x/footer_logo_new.png" srcset="https://static.leapcloud.cn/web/website/common/images/footer/icon_2x/footer_logo_new@2x.png 2x" alt=""></li>
            </ul>
            <ul class="footer-nav">
                <li class="head">资讯栏目</li>
                <li><a href="/cms">上海APP开发公司</a></li>
                <li><a href="/cms/appkaifa">APP开发费用</a></li>
                <li><a href="/cms/shop">商城APP开发</a></li>
                <li><a href="/cms/xcx">小程序开发</a></li>
                <li><a href="/cms/xls">新零售解决方案</a></li>
            </ul>
            <ul class="footer-nav">
                <li class="head">商领云</li>
                <!-- <li> <a>产品</a> <ul class="dropdown-lists"> <li><a href="/website/leapcloud.html">商领云</a></li> <li><a href="/website/wxapp">小程序</a></li> <li><a href="/website/dingzhi">定制服务</a></li> </ul> </li> -->
                <li><a href="/website/index.htmlOld">APP开发</a></li>
                <!-- <li><a href="/website/merchants">渠道代理</a></li> -->
                <li><a href="/website/case.html">案例</a></li>
                <li><a href="website/news.html">新闻中心</a></li>
                <li><a href="/website/helpcenter.html">文档</a></li>
                <li><a href="/website/whitepaper">技术白皮书</a></li>
            </ul>
            <ul class="footer-nav">
                <li class="head">公司</li>
                <li><a href="/website/aboutus.html">关于我们</a></li>
                <li><a href="/website/useemploy">使用协议</a></li>
            </ul>
            <div class="address">
                <div class="telephone-h">咨询电话</div>
                <div class="phone-number">400-158-0151 </div>
                <div class="address-text">上海徐汇区宜山路1009号 创新大楼6楼 </div> <a class="maxwon-url" href="https://www.leapcloud.cn/">https://www.leapcloud.cn/</a>
            </div>
            <div class="erweima">
                <p>关注商领云</p> <img class="img_erweima" src="https://static.leapcloud.cn/web/website/common/images/footer/icon_1x/emeima_footer.png" srcset="https://static.leapcloud.cn/web/website/common/images/footer/icon_2x/emeima_footer@2x.png 2x" alt="">
            </div>
        </div>
    </div>
    <div class="copyRightIndex">
        <p>© 2010-2020 LeapCloud.cn 版权所有 沪ICP备15041312号</p>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402007726" target="_blank"> <img src="https://static.leapcloud.cn/web/website/common/images/footer/icon_1x/gwa.png" srcset="https://static.leapcloud.cn/web/website/common/images/footer/icon_2x/gwa@2x.png 2x" /> 沪公网安备 31010402007726号 </a>
    </div>
    <div id="footer-mobile">
        <div class="mainStyle footer-content-mobile">
            <!-- <a class="product-head">产品</a> <ul class="footer-nav product-nav"> <li><a href="/website/leapcloud.html">商领云</a></li> <li><a href="/website/wxapp">小程序</a></li> <li><a href="/website/dingzhi">定制服务</a></li> </ul> -->
            <ul class="footer-nav">
                <!-- <li><a href="/website/merchants">渠道代理</a></li> -->
                <li><a href="/website/case.html">案例</a></li>
                <li><a href="website/news.html">新闻中心</a></li>
                <li><a href="/website/helpcenter.html">文档</a></li>
                <li><a href="/website/whitepaper">技术白皮书</a></li>
            </ul>
            <ul class="footer-nav">
                <li><a href="/website/index.htmlOld">APP开发</a></li>
                <li><a href="/website/aboutus.html">关于我们</a></li>
                <li><a href="/website/useemploy">使用协议</a></li>
            </ul>
            <div class="phoneInfo">
                <div class="telephone-h">咨询电话</div>
                <div class="phone-number">400-158-0151</div>
            </div>
            <div class="addressInfo">
                <div class="address-text">上海徐汇区宜山路1009号 创新大楼6楼</div> <a class="maxwon-url" href="http://www.leapcloud.cn/">http://www.leapcloud.cn/</a>
            </div>
            <div class="erweima"> <img class="img_erweima" src="./website/common/images/news/eweima_footer.jpg" srcset="./website/common/images/news/eweima_footer.jpg 2x" alt="">
                <p>关注商领云</p>
            </div>
        </div>
        <div class="copyRightIndex">© 2010-2020 LeapCloud.cn 版权所有 <br> 沪ICP备15041312号
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402007726" target="_blank">
                <img src="https://static.leapcloud.cn/web/website/common/images/footer/icon_1x/gwa.png" srcset="https://static.leapcloud.cn/web/website/common/images/footer/icon_2x/gwa@2x.png 2x" /> 沪公网安备 31010402007726号 </a>
        </div>
    </div>
    <!-- <div id="new-mobile-righter" > <a href="tel:400-158-0151" > <img height="24" width="24" src="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/mobile/icon1.png" srcset="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/mobile/icon1@2x.png 2x" /> <div>电话<br>咨询</div> </a> <a href='/website/signup'> <img height="24" width="24" style="margin-top:16px" src="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/mobile/icon3.png" srcset="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/mobile/icon3@2x.png 2x" /> <div>免费<br>试用</div> </a></div><div id="new-righter" > <div class="avatar"> <img width="90" height="90" src="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/%E5%A4%B4%E5%83%8F.png" srcset="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/%E5%A4%B4%E5%83%8F@2x.png 2x" /> <img class="close-icon" src="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/%E5%8F%96%E6%B6%88.png" srcset="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/%E5%8F%96%E6%B6%88@2x.png 2x" /> </div> <div class="kfbtn onlytip"> <img width="20" src="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/icon1.png" srcset="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/icon1@2x.png 2x" /> <div> <div class="tip"> 免费电话咨询 </div> <div class="phone400"> 400-158-0151 </div> </div> </div> <div class="kfbtn" onclick="_MEIQIA('showPanel')"> <img width="20" src="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/icon2.png" srcset="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/icon2@2x.png 2x" /> <div> 在线咨询 </div> </div> <a class="kfbtn" href='/website/signup'> <img width="20" src="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/icon3.png" srcset="//leapcloud.oss-cn-shanghai.aliyuncs.com/kefu/icon3@2x.png 2x" /> <div> 免费试用 </div> </a></div> -->
    <div id="mobile-righter">
        <div class="cubes">
            <div class="cube head">
                <p>　</p>
            </div>
            <div class="visiblecubes" style="display:none">
                <a class="cube common-cube-mobile" href="tel:400-158-0151" onclick="javascript:void(0)"> <span class="sicon icon tel"></span>
                    <p>电话咨询</p>
                </a>
                <a class="cube merchants-cube-mobile" style="display: none" href="tel:400-158-0151" onclick="javascript:void(0)"> <span class="sicon icon tel"></span>
                    <p>电话咨询</p>
                </a>
                <a class="cube" href='/website/signup'> <span class="sicon icon login"></span>
                    <p>免费试用</p>
                </a>
                <a class="cube join" href="/website/merchants"> </a>
                <a class="cube video-mobile video-icon" href=""> </a>
                <div class="cube holder">
                    <p>　</p>
                </div>
            </div>
            <div class="cube foot"></div>
        </div>
        <div id="righter-control" tab-index="-1" class="pinelhide"> <img src="./website/common/images/news/header-control.png" width="30%"> </div>
    </div>
    <div id="righter">
        <div class="cube common-cube">
            <div class="sicon tel"></div>
            <p>电话咨询</p>
            <div class="right-alert">400-158-0151</div>
        </div>
        <div class="cube merchants-cube" style="display: none">
            <div class="sicon tel"></div>
            <p>电话咨询</p>
            <div class="right-alert">400-158-0151</div>
        </div>
        <a class="cube" href='/website/signup'>
            <div class="sicon login"></div>
            <p>免费试用</p>
        </a>
        <!-- <a class="cube" href="/website/merchants" > <div class="sicon join"></div> <p >代理合作</p> </a> -->
        <div class="cube video" href="">
            <div class="sicon video-icon"></div>
            <p>视频介绍</p>
            <div class="right-alert">商领云视频</div>
            </a>
        </div>
        <a class="cube zixun-right" onclick="_MEIQIA('showPanel')">
            <div class="sicon zixun-icon-right"></div>
            <p>在线咨询</p>
        </a>
    </div>
    <script src="./website/javascript/news/wp-content/themes/miwan/js/custom.js"></script>
    <!-- <script type='text/javascript' src='https://www.leapcloud.cn/news/wp-includes/js/wp-embed.min.js?ver=4.9.5'> -->
    </script>
</body>

</html>
<!--压缩前的大小: 43430 bytes; 压缩后的大小: 37818 bytes; 节约：12.92% -->
<!-- Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

 Served from: www.leapcloud.cn @ 2021-08-06 10:01:01 by W3 Total Cache -->